/node_modules
/public/hot
/public/hostel
/public/ads
/public/hostel
/public/category
/public/blogs
/public/banks
/public/property
/public/storage
/public/public.zip
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
website.zip
